<h3>เรียน คุณ  #{username}</h3>
<body>เราได้รับคำขอการเปลี่ยนรหัสผ่านใหม่บน Happy Shopping Express ของคุณเรียบร้อยแล้ว<br><br>เปลี่ยนรหัสผ่านใหม่ ที่นี่<br><br>หรือคัดลอกข้างล่างนี้ เพื่อนำไปเปิดบนเว็บเบราว์เซอร์<br>[https://shopee.co.th/forgot_password/?code=8nuISn8jrQDWOIN1HcK9qUZGPEBSc5M9ksEdcCLrRaY%3D&email=soythip.ob%40gmail.com]</body>