<h3>เรียน คุณ  #{username}</h3>
<body>เราได้รับคำขอการเปลี่ยนรหัสผ่านใหม่บน Happy Shopping Express ของคุณเรียบร้อยแล้ว<br><br>เปลี่ยนรหัสผ่านใหม่ ที่นี่<br><br>หรือคัดลอกข้างล่างนี้ เพื่อนำไปเปิดบนเว็บเบราว์เซอร์<br>[http://localhost:3000/auth/forgot-password/callback/?code=#{accessToken}&email=#{email}]</body>
